*{
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.show-on-mobile {
    display: none;
}
.header {
    width: 100%;
    height: 6rem;
    display: flex;
}

.header-menu {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
.btn-menu{
    width: 5rem;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
}
.btn-menu:hover{
    cursor: pointer;
}
.list-menu {
    display: none;
    width: 20rem;
    height: 10rem;
    position: absolute;
    top: 4em;
    left: 0;
}

ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
    width: 100%;
    height: 10%;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1rem;

}
li > a{
    text-decoration: none;
    color: black;
}

.header-logo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.link-logo {
    cursor: pointer;
    width: 400px;
    height: 100%;
    z-index: 10;

}
.btn-logo {
    width: 100%;
    height: 100%;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    
}

.header-btn {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.header-btn_right{
    width: 42%;
    height: 50%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.login:hover {
    color: rgb(161, 161, 161);
}
.cart{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1rem;
}



