*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content {
    width: 100%;
    height: 100vh;
}
.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    margin-top: 10px;
    margin-bottom: 14px;
}
.tabs .line {
    height: 6px;
    background-color: red;
}


.tab-item {
    text-align: center;
    font-size: 25px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 20px;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
}

.tab-item:hover {
    opacity: 1;
}

.tab-item.active {
    opacity: 1;
}

.tab-pane {
    display: none; 
}

.tab-pane.active {
    display: block;
}
input {
    width: 225px;
    height: 20px;
}
/* .tab-pane {
    margin-top: 20px;
} */

.btn-submit {
    width: 100%;
    height: 30px;
    outline: none;
    cursor: pointer;
    margin: 25px 0;
    border-radius: 1px solid black ;
}


.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 1px solid black;
	border-radius: 4px;
	display: block;
	padding: 10px;
	width: 460px;
    height: 29px;
}

/* .input-control input:focus {
    outline: 0;
} */

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    /* height: 13px; */
}

input {
    width: 460px;
    height: 40px;
}
/* .create-account {
    padding-left: 50px;
} */
button:hover {
    background: black;
    color: white;
}

